$color-primary: #2bca0f;
$color-primary-light: #55c57a;
$color-primary-dark: #038157;

$color-secondary: #5fb0f4;
$color-secondary-light: #a8cff0;
$color-secondary-dark: #228adf;

$color-tertiary: #f7bd1d;
$color-tertiary-light: #fccc4a;
$color-tertiary-dark: #d8a313;

$color-grey-light-1: #ebe5e5;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-gray-dark: #777;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;