$color-primary: #23990e;
$color-primary-light: #55c57a;
$color-primary-dark: #106146;

$color-secondary: #5fb0f4;
$color-secondary-light: #a8cff0;
$color-secondary-dark: #228adf;

$color-tertiary: #d09d0d;
$color-tertiary-light: #ecc455;
$color-tertiary-dark: #997309;

$color-grey-light-1: #ebe5e5;

$color-white: #fff;
$color-gray-dark: #777;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;