/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color:#777;
  padding: 30px;
}

.header{
  position:relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)) ,url(./img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%)
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100%;
}

.logo {
  height: 35px;

}

.text-box {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
}
.dot1 {
height: 80px;
width: 80px;
background-color: #549cf9;
border-radius: 50%;
display: inline-block;
position: relative;
margin-left: 20px;
}
.dot2 {
  height: 80px;
  width: 80px;
  background-color:#f8ad0f;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-left: 20px;
  }
  .dot3 {
    height: 80px;
    width: 80px;
    background-color: #5eae48;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    }

.heading-primary {
  color:#ffff;
  backface-visibility:  hidden; 
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInleft 2s ease-out;
  /* animation-iteration-count: 2; */
  
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 17.5px;
  animation: moveInright 2s ease-out;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }

  80% {
    transform: translateX(40px);

  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translate(100%);
  }

  80% {
    transform: translateX(-40px);

  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
